{% extends "base.html" %}

{% block title %}{{ station_name }}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'station orders dashboard' station_id=station_id %}">{{ station_name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Order #{{ order_pk }}</li>
    </ol>
  </nav>

  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div class="row">

          {% for vehicle in station_fleet %}
            <div class="col-md-4 col-sm-6">
              <a href="{% url 'make vehicle order' station_id=station_id order_pk=order_pk vehicle_path=vehicle.get_path %}">

                <div class="card mb-4">
                  <div class="card-header text-center">
                    {{ vehicle.name }}
                  </div>

                  <div class="card-body">
                    <p class="card-text text-muted small">{{ station_path }}</p>
                  </div>
                </div>

              </a>
            </div>
          {% endfor %}

        </div> {# /row #}
      </div> {# /div with vehiles #}

      <div class="col-md-4">
        <div class="row">

          <div class="card mb-4">
            <div class="card-header text-center">
              Order #{{ order_pk }}
            </div> {# card-header #}

            <div class="card-body">
              {% if items_of_station_order_grouped_by_vehicle_then_bag %}
                {% for vehicle, bag_dict in items_of_station_order_grouped_by_vehicle_then_bag.items %}
                  <p class="card-text text-center mb-0">{{ vehicle }}</p>
                  {% for bag, item_dict in bag_dict.items %}
                    <p class="card-text text-center text-muted">{{ bag }}</p>
                    {% for item, quantity in item_dict.items %}
                      <p class="card-text mb-1">{{ item }} x{{ quantity }}</p>
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
              {% else %}
                <p class="card-text">No EMS supplies in this order yet.</p>
              {% endif %}
            </div> {# card-body #}

            <div class="card-footer text-center">
              <a href="{% url "station order confirmation" station_id=station_id order_pk=order_pk %}"
                 class="btn btn-outline-dark"
                 role="button">Review and Submit
              </a>
            </div> {# /card-footer #}
          </div> {# /card #}

        </div> {# /row #}
      </div> {# /div.col with StationOrder #}

    </div> {# /row #}
  </div> {# /container #}
{% endblock %}