{% extends "base.html" %}

{% load static %}
{% block extra_stylesheets %}
  <link rel="stylesheet"
        href="{% static "inventory/css/make_order.css" %}">
{% endblock %}

{% block title %}{{ vehicle_name }}{% endblock %}

{% block nav-component %}
  {% include "nav-component.html" %}
{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    <div class="accordion" id="bags_accordion">

      {% for vehicle_bag in vehicle_bags %}
        <div class="card">

          <div class="card-header" id="heading{{ vehicle_bag.pk }}">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                      data-target="#collapse{{ vehicle_bag.pk }}" aria-expanded="true"
                      aria-controls="collapse{{ vehicle_bag.pk }}">
                {{ vehicle_bag.name }}
              </button>
            </h2>
          </div>

          <div id="collapse{{ vehicle_bag.pk }}" class="collapse" aria-labelledby="heading{{ vehicle_bag.pk }}"
               data-parent="#bags_accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4">

                  {% for bag_compartment in vehicle_bag.bagcompartment_set.all %}
                    <div class="text-center mb-1" style="background-color:lightgrey;">
                      {{ bag_compartment.name }}
                    </div>

                    {% for bag_compartment_to_item_association in bag_compartment.bagcompartmenttoitemassociation_set.all %}
                      <div class="form-group mb-2">
                        <input type="text" class="make-order-input" size="1"
                               id="input{{ bag_compartment_to_item_association.item.pk }}" placeholder=""
                               name="bagcompartmenttoitemassociation_{{ bag_compartment_to_item_association.pk }}">

                        {# TODO use extend for them item block below x3 #}
                        <label for="input{{ bag_compartment_to_item_association.item.pk }}"
                               class="make-order-label">
                          {{ bag_compartment_to_item_association.quantity }}x
                          {{ bag_compartment_to_item_association.item.name }}

                          {% if bag_compartment_to_item_association.item.size %},
                            {{ bag_compartment_to_item_association.item.size }}
                          {% endif %}
                          {% if bag_compartment_to_item_association.item.notes %}
                            ({{ bag_compartment_to_item_association.item.notes }})
                          {% endif %}
                          {% if bag_compartment_to_item_association.item.brand %}by
                            {{ bag_compartment_to_item_association.item.brand }}
                          {% endif %}
                        </label>
                      </div>
                    {% endfor %}

                    {% for kit in bag_compartment.kit_set.all %}
                      <div class="row pt-1">
                        <div class="col-12 text-center">
                          {{ kit.name }}
                        </div>
                      </div>

                      {% for kit_to_item_association in kit.kittoitemassociation_set.all %}
                        <div class="form-group mb-2">
                          <input type="text" class="make-order-input" size="1"
                                 id="input{{ kit_to_item_association.item.pk }}" placeholder=""
                                 name="kittoitemassociation_{{ kit_to_item_association.pk }}">

                          <label for="input{{ kit_to_item_association.item.pk }}"
                                 class="make-order-label">
                            {{ kit_to_item_association.quantity }}x
                            {{ kit_to_item_association.item.name }}

                            {% if kit_to_item_association.item.size %},
                              {{ kit_to_item_association.item.size }}
                            {% endif %}
                            {% if kit_to_item_association.item.notes %}
                              ({{ kit_to_item_association.item.notes }})
                            {% endif %}
                            {% if kit_to_item_association.item.brand %}by
                              {{ kit_to_item_association.item.brand }}
                            {% endif %}
                          </label>
                        </div>
                      {% endfor %}

                      {% for kit_compartment in kit.kitcompartment_set.all %}
                        <div class="row pt-3 mb-1">
                          <div class="col-12 mt-n3 text-center text-secondary">
                            {{ kit_compartment.name }}
                          </div>
                        </div>

                        {% for kit_compartment_to_item_association in kit_compartment.kitcompartmenttoitemassociation_set.all %}
                          <div class="form-group mb-2">
                            <input type="text" class="make-order-input" size="1"
                                   id="input{{ kit_compartment_to_item_association.item.pk }}" placeholder=""
                                   name="kitcompartmenttoitemassociation_{{ kit_compartment_to_item_association.pk }}">

                            <label for="input{{ kit_compartment_to_item_association.item.pk }}"
                                   class="make-order-label">
                              {{ kit_compartment_to_item_association.quantity }}x
                              {{ kit_compartment_to_item_association.item.name }}

                              {% if kit_compartment_to_item_association.item.size %},
                                {{ kit_compartment_to_item_association.item.size }}
                              {% endif %}
                              {% if kit_compartment_to_item_association.item.notes %}
                                ({{ kit_compartment_to_item_association.item.notes }})
                              {% endif %}
                              {% if kit_compartment_to_item_association.item.brand %}by
                                {{ kit_compartment_to_item_association.item.brand }}
                              {% endif %}
                            </label>
                          </div>
                        {% endfor %}

                        {% if kit_compartment.name in new_column_cutoffs %}
                          </div>
                          <div class="col-lg-4">
                        {% endif %}

                      {% endfor %}  <!-- /kit>kit_compartment -->
                    {% endfor %}  <!-- /kit -->

                  {% if bag_compartment.name in new_column_cutoffs %}
                    </div>
                    <div class="col-lg-4">
                  {% endif %}

                  {% endfor %} <!-- /bag_compartment -->
                  </div>  {# /col #}
              </div>  {# /row #}
            </div>  {# card-body #}
          </div>  {# collapse #}

        </div> {# /card #}

      {% endfor %}  {# /vehicle_bag in vehicle_bags #}

    </div> {# /accordion #}

    <div class="row mt-2 justify-content-center">
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary btn-block">Order</button>
      </div>
    </div>

  </form>
{% endblock %}