{% extends "base.html" %}

{% block title %}Station {{ station_id }} Dashboard{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item my-auto"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item my-auto active " aria-current="page">{{ station_name }}</li>
      <li class="ml-auto my-auto small">welcome, {{ user }}</li>
      <a href="{% url "user sign out" %}"
         class="btn btn-outline-primary btn-sm ml-2"
         role="button">sign out
      </a>
    </ol>
  </nav>

  <div class="container">
    <div class="row">

      <div class="col-md-8 mx-auto">
        <table class="table table-striped table-bordered">

          <tr>
            <th class="col-md-8 text-center">Recent Orders</th>
            <td class="col-md-4 bg-transparent text-center align-middle" rowspan="0">
              <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">Create Order</button>
              </form>
            </td>
          </tr>

          {% if not last_five_station_orders %}
            <tr>
              <td class="text-center">No Orders Found.</td>
            </tr>
          {% else %}
            {% for station_order in last_five_station_orders %}
              <tr>
                <td>
                  {% if station_order.is_submitted %}
                    <a href="{% url 'station order summary' station_id=station_id order_pk=station_order.pk %}">
                      Order #{{ station_order.pk }} - submitted {{ station_order.timestamp.date|date:"l, m/d/y" }} at
                      {{ station_order.timestamp.time|date:"Hi" }}
                    </a>
                  {% else %}
                    <a href="{% url 'make station order' station_id=station_id order_pk=station_order.pk %}">
                      Order #{{ station_order.pk }} - {{ station_order.timestamp.date|date:"l, m/d/y" }}
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endif %}

        </table>
      </div>

    </div> <!-- /row -->
  </div> <!-- /container -->
{% endblock %}