<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

</head>

<body style="overflow-y:scroll;">

<div class="row">
  <div class="col-md-6" style="float:none; margin:auto; text-align: center">
    <p>Order confirmation message here.</p>
    <p>Order #{{ order_pk }}</p>
    <p>{{ station_order_timestamp }}</p>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-6">

      <div class="card">
        <div class="card-header text-center">
          Station copy
        </div>

        <div class="card-body">
          {% if items_of_station_order_grouped_by_vehicle_then_bag %}
            {% for vehicle, bag_dict in items_of_station_order_grouped_by_vehicle_then_bag.items %}
              <p class="card-text">{{ vehicle }}</p>
              {% for bag, item_dict in bag_dict.items %}
                <p class="card-text">-{{ bag }}</p>
                {% for item, quantity in item_dict.items %}
                  <p class="card-text">---{{ item }} x{{ quantity }}</p>
                {% endfor %}
              {% endfor %}
            {% endfor %}
          {% else %}
            <p class="card-text">No items message</p>
          {% endif %}
        </div> {# /.card-body #}
      </div> {# /.card #}

    </div> {# /.col-md #}
    <div class="col-md-6">

      <div class="card">
        <div class="card-header" style="text-align: center">
          Delivery copy
        </div>

        <div class="card-body">
          {% if items_of_station_order_grouped_by_vehicle_then_bag %}
            {% for item, quantity in items_of_station_order_summed_regardless_of_location.items %}
              <p class="card-text">---{{ item }} x{{ quantity }}</p>
            {% endfor %}
          {% else %}
            <p class="card-text">No items message</p>
          {% endif %}
        </div> {# /.card-body #}
      </div> {# /.card #}

    </div> {# /.col-md #}

  </div> {# /.row #}
</div> {# /.container #}

<div class="row pt-3">
  <div class="col-md-6" style="float:none; margin:auto; text-align: center">
    <a href="{% url 'home' %}"
       class="btn btn-light active"
       role="button"
       aria-pressed="true">Main Page
    </a>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
</body>
</html>