{% extends "base.html" %}

{% block title %}{{ station_name }} > Order #{{ order_pk }}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'station orders dashboard' station_id=station_id %}">{{ station_name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Order #{{ order_pk }}</li>
    </ol>
  </nav>

  <div class="container">
    <div class="row mt-5 mb-3">
      <div class="col-md-6 m-auto text-center">
        <p class="h5 font-weight-bold">Please review your order</p>
      </div>
    </div>

    <div class="row">

      {% if items_of_station_order_grouped_by_vehicle_then_bag %}
        {% for vehicle, bag_dict in items_of_station_order_grouped_by_vehicle_then_bag.items %}

          <div class="col-md-6">
            <div class="card mb-3">
              <div class="card-header text-center">
                {{ vehicle }}
              </div>

              <div class="card-body">

                {% for bag, item_dict in bag_dict.items %}
                  <div class="row no-gutters">
                    <div class="col-md-12 text-center text-muted">
                     {{ bag }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">

                      <ul class="list-group list-group-flush">
                        {% for item, quantity in item_dict.items %}
                          <li class="list-group-item list-group-item-action">
                            <div class="row">
                              <div class="col-sm-9">
                                {{ item }}
                              </div>
                              <div class="col-sm-3 text-right align-self-center">
                                {{ quantity }}
                              </div>
                            </div>
                          </li>
                        {% endfor %} <!-- /item, quantity -->
                      </ul>

                    </div>
                  </div>
                {% endfor %} <!-- /bag, item_dict -->

              </div> <!-- /.card-body -->

            </div> <!-- /.card -->
          </div> <!-- /.col-md -->

        {% endfor %} <!-- /vehicle, bag_dict -->
      {% else %}
        <p class="card-text">No items message</p>
      {% endif %}

    </div> {# /.row #}

    <div class="row pt-3">
      <div class="col-md-6 text-center">
        <a href="{% url 'make station order' station_id=station_id order_pk=order_pk %}"
           class="btn btn-outline-dark"
           role="button"
           aria-pressed="true">Continue to Order
        </a>
      </div>
      <div class="col-md-6 text-center">
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-dark">Submit Order</button>
        </form>
      </div>
    </div> {# /.row #}

  </div> {# /.container #}
{% endblock %}