{% extends "base.html" %}

{% block title %}Order #{{ order_pk }} Summary{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'station orders dashboard' station_id=station_id %}">{{ station_name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Order #{{ order_pk }}</li>
    </ol>
  </nav>

  <div class="row mt-5 mb-3">
    <div class="col-md-6 m-auto text-center">
      <p class="h4 font-weight-bold">Order Summary</p>
      <p>Order #{{ order_pk }} was submitted {{ station_order_timestamp.date|date:"l, M d, Y" }} at
        {{ station_order_timestamp.time|date:"Hi" }}.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-6">

        <div class="card">
          <div class="card-header text-center">
            Station copy
          </div>

          <div class="card-body">
            {% if items_of_station_order_grouped_by_vehicle_then_bag %}

              {% for vehicle, bag_dict in items_of_station_order_grouped_by_vehicle_then_bag.items %}

                <div class="row">
                  <div class="col-md-12">
                    <p class="card-text h5 text-center">{{ vehicle }}</p>
                  </div>
                </div>

                {% for bag, item_dict in bag_dict.items %}
                  <div class="row no-gutters">
                    <div class="col-md-12 text-center text-muted">
                      {{ bag }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-group list-group-flush">
                        {% for item, quantity in item_dict.items %}
                          <li class="list-group-item list-group-item-action">
                            <div class="row">
                              <div class="col-sm-9">
                                {{ item }}
                              </div>
                              <div class="col-sm-3 text-right align-self-center">
                                {{ quantity }}
                              </div>
                            </div>
                          </li>
                        {% endfor %} <!-- /item, quantity -->
                      </ul>
                      <div class="row mb-4"></div>
                    </div>
                  </div>

                {% endfor %} <!-- /bag, item_dict -->
              {% endfor %} <!-- /vehicle, bag_dict -->

            {% else %}
              <p class="card-text">No items message</p>
            {% endif %}
          </div> <!-- /.card-body -->
        </div> <!-- /.card -->

      </div> <!-- /.col-md -->
      <div class="col-md-6">

        <div class="card">
          <div class="card-header text-center">
            Delivery copy
          </div>

          <div class="card-body">
            {% if items_of_station_order_summed_regardless_of_location %}
              <div class="row">
                <div class="col-md-12">
                  <p class="card-text h5 text-center">Station #{{ station_id }}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">

                  <ul class="list-group list-group-flush">
                    {% for item, quantity in items_of_station_order_summed_regardless_of_location.items %}
                      <li class="list-group-item list-group-item-action">
                        <div class="row">

                          <div class="col-sm-9">
                            {{ item }}
                          </div>
                          <div class="col-sm-3 text-right align-self-center">
                            {{ quantity }}
                          </div>

                        </div>
                      </li>
                    {% endfor %}
                  </ul>

                </div> <!-- /.col-md -->
              </div> <!-- /.row -->

            {% else %}
              <p class="card-text">No items message</p>
            {% endif %}
          </div> {# /.card-body #}
        </div> {# /.card #}

      </div> {# /.col-md #}

    </div> {# /.row #}
  </div> {# /.container #}

  <div class="row pt-3">
    <div class="col-md-6" style="float:none; margin:auto; text-align: center">
      <a href="{% url 'station orders dashboard' station_id=station_id %}"
         class="btn btn-outline-dark"
         role="button">Back
      </a>
    </div>
  </div>
{% endblock %}