{% extends "base.html" %}

{% block title %}Stations{% endblock %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  {% load static %}
  <div class="container">
    <div class="row">
      {% for station in stations %}

        <div class="col-md-4 col-sm-6">
          <a href="{% url 'station orders dashboard' station_id=station.id %}">
            <div class="card mb-4">

              {#TODO make image(or path to it) Station instance field#}
              {% if station.get_name == 'Station 1' %}
                <img src="{% static "fleet/logo_station_1.jpg" %}"
                     class="img-responsive mx-auto mt-4"
                     alt="..."
                     height="200">
              {% elif station.get_name == 'Station 3' %}
                <img src="{% static "fleet/logo_station_3.jpeg" %}"
                     class="img-responsive mx-auto mt-4"
                     alt="..."
                     height="200">
              {% else %}
                <img src="{% static "fleet/logo_jcc.png" %}"
                     class="img-responsive mx-auto mt-4"
                     alt="..."
                     height="200">
              {% endif %}

              <div class="card-body">
                <h5 class="card-title text-center">
                  {{ station.get_name }}
                </h5>
              </div>

            </div>
          </a>
        </div>

      {% endfor %}
    </div> {# /row #}
  </div> {# /container #}

{% endblock %}