{% extends "base.html" %}

{% load static %}
{% block extra_stylesheets %}
  <link rel="stylesheet"
        href="{% static "fleet/css/user_sign_in.css" %}">
{% endblock %}

{% block title %}Sign In{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <form method="post" class="form-signin">
          {% csrf_token %}
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Username"
                 required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password"
                 required>
          <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
        </form>

      </div>
    </div>
  </div>
{% endblock %}